{:kotoba.app/id "cloud.itonami.isic-7810", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia3lu4c2kqwrdprtjeupj4dburinbe32aysvcwjvvrkgkeqmmw4iu", :kotoba.app/embed-url "ipfs://bafkreia3lu4c2kqwrdprtjeupj4dburinbe32aysvcwjvvrkgkeqmmw4iu", :published {:archive "https://kotobase.net/ipfs/bafkreia3lu4c2kqwrdprtjeupj4dburinbe32aysvcwjvvrkgkeqmmw4iu", :size 95090, :put-status 201, :get-status 200, :at "2026-08-15T13:48:53.345Z"}}
